spring:
  application:
    name: screener


  datasource:
    url: "jdbc:postgresql://localhost:5432/screener"
    username: "screener"
    password: "password"
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate

seeking-alpha:
  api-key: ${SEEKING_ALPHA_TOKEN:da27500578mshf0ed54b9bfb3bf8p112af1jsn9f03cc02018c}
  api-host: seeking-alpha.p.rapidapi.com
  base-url: https://seeking-alpha.p.rapidapi.com/symbols
  max-list-size: 4
  group-by-month: true
  momentum-fields:
    - movAvg50d
    - movAvg100d
    - movAvg200d
  get-summary-endpoint: "/get-summary?symbols={symbols}"
  get-moving-average-endpoint: "/v2/get-momentum?symbols={symbols}&fields={fields}"
  get-price-target-endpoint: "/get-analyst-price-target?ticker_ids={tickers}&group_by_month={groupByMonth}"
  get-analyst-recomendation-endpoint: "/get-analyst-recommendations?ticker_ids={tickers}&group_by_month={groupByMonth}"


finhub:
  api-key: ${FINHUB_TOKEN:d1fv3uhr01qk4ao003i0d1fv3uhr01qk4ao003ig}
  base-url: https://finnhub.io/api/v1
  get-current-price-endpoint: "/quote?symbol={symbol}"

symbols:
  file-path: src/main/resources/static/symbols.txt

#logging:
#  level:
#    com:
#      stock:
#        screener:
#          application:
#            handler: DEBUG